h1.ektarabrandname {
    font-family: logo;
    text-align: center;
    margin: 0;
    padding-top: 0.8em;
}
p.about {
    font-family: about;
    text-align: center;
    margin: 0;
    padding-bottom: 2em;
}

.containerforcards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cards {
    background: #ffffff;
    width: 16rem;
    height: 25rem;
    margin: 2em;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.01em;
    border-color: gray;
    transition: 0.3s;
}
.cards:hover {
    border-color: black;
}
.imageoncard {
    width: 100%;
    aspect-ratio: 2;
}
@media screen and (max-width: 960px) {
    .cards {
        width: 25%;
        height: 24rem;
    }
}

@media screen and (max-width: 850px) {
    .cards {
        width: 36%;
        height: 24rem;
        
    }
}
@media screen and (max-width: 600px) {
    .cards {
        width: fit-content;
        height: fit-content;
    }
}
.titleofcard {
    font-weight: bolder;
    font-size: 1.1rem;
    padding: 0;
    color: rgb(0, 0, 0);
    text-indent: 1rem;
}
.textoncard {
    text-align: justify;
    padding: 1em;
    padding-top: 0;
    color: rgb(0, 0, 0);
}
.endofthecards {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    width: 50%;
}
